.idea/easyPHP-Swoole.iml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml
src/swoole_log.txt
/vendor
composer.lock

*/.DS_Store
*.DS_Store
.idea
.vscode
sftp-config.json
src/vendor/*
composer.lock
src/swoole_log.txt
src/Log
